@typeparam TItem

@inject IModalService ModalService;

<EditForm Model="@this">
    <LookupField TObject="TItem" @bind-Value="@Item" Label="@typeof(TItem).Name"/>

    <button type="submit" @onclick="@SubmitAsync" class="btn-primary">OK</button>
    <button @onclick="@CancelAsync" class="btn-secondary">Cancel</button>
</EditForm>
