@page "/"

@using MUnique.OpenMU.Web.Map
@using MUnique.OpenMU.Web.Map.Components
@using MUnique.OpenMU.GameLogic

@inject IObservableGameServer _gameServer;
@inject IGameServerContext _gameServerContext;

<h1>OpenMU GameServer</h1>

<p>
    <!-- TODO: Move into component -->
    <div class="card shadow rounded" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Stats</h5>
            <h6 class="card-subtitle mb-2 text-muted">Game Server Id: @this._gameServer.Id</h6>
            <p class="card-text">Online Players: @_gameServerContext.PlayerCount / @_gameServerContext.ServerConfiguration.MaximumPlayers</p>
            <p class="card-text">Hosted Maps: @_gameServer.Maps.Count</p>
            <p class="card-text">Experience Rate: @_gameServerContext.ExperienceRate</p>
        </div>
    </div>
</p>

<p>
    <h2>Hosted Maps</h2>
    <CascadingValue Name="@nameof(MapCard.LiveMapRoute)" TValue="string" Value="MapPage.LiveMapRoute">
        <MapCards GameServer="@_gameServer" />
    </CascadingValue>
</p>
