@using MUnique.OpenMU.DataModel.Configuration
@using MUnique.OpenMU.DataModel.Configuration.Items
@using MUnique.OpenMU.DataModel.Entities
@using MUnique.OpenMU.Persistence;

<li class="dropdown">
    <a href="" role="button" aria-haspopup="true" aria-expanded="false" @onclick="ToggleGameConfig">
        <span class="oi oi-cog" aria-hidden="true"></span> Game Configuration
    </a>
    @if (this._expandGameConfig)
    {
        <div>
            <NavLink href="@($"edit-config/{typeof(SystemConfiguration).FullName}/")">System</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(GameClientDefinition).FullName}/")">Game Clients</NavLink>
            <hr/>
            <NavLink href="@($"edit-config/{typeof(GameConfiguration).FullName}/{this.GameConfigurationId}/hide-collections")">General</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(MonsterDefinition).FullName}/")">Monsters</NavLink>
            <NavLink href="@($"merchants/")">Merchant Stores</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(CharacterClass).FullName}/")">Character Classes</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(Skill).FullName}/")">Skills</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(ItemDefinition).FullName}/")">Items</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(DropItemGroup).FullName}/")">Drop Item Groups</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(GameMapDefinition).FullName}/")">Maps</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(MiniGameDefinition).FullName}/")">Mini Games</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(WarpInfo).FullName}/")">Warp List</NavLink>
            <NavLink href="@($"edit-config-grid/{typeof(JewelMix).FullName}/")">Jewel Mixes</NavLink>
            <hr/>
            <NavLink href="plugins">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Plugins
            </NavLink>
            <NavLink href="map-editor">
                <span class="oi oi-globe" aria-hidden="true"></span> Map Editor
            </NavLink>
            <hr/>
            <NavLink href="@($"edit-config/{typeof(GameConfiguration).FullName}/")" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Full Configuration
            </NavLink>
        </div>
    }
</li>
