@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@using MUnique.OpenMU.DataModel
@using MUnique.OpenMU.DataModel.Configuration
@using MUnique.OpenMU.DataModel.Entities
@using MUnique.OpenMU.Persistence
@using MUnique.OpenMU.Web.ItemEditor
@using MUnique.OpenMU.Web.AdminPanel.Components.ItemEdit;

@inherits NotifyableInputBase<ItemStorage>

@if (this.CurrentValue is null)
{
    return;
}

<div>
    @if (!this.HideLabel)
    {
        <FieldLabel Text="@Label" ValueExpression="@this.ValueExpression"/>
    }
    <div class="container editor-container" id="@this.FieldIdentifier.FieldName">
        <div class="row editor-row">
            <div class="col-4 left-column">
                @if (this._storageType == StorageType.Inventory)
                {
                    <div class="equipped-box">
                        <EquippedItems
                            @bind-Value="@CurrentValue"
                            SelectedItem="@this._selectedItem"
                            SelectedItemChanged="this.OnSelectedItemChanged"/>
                    </div>
                }
                
                <div>
                    <MuItemStorage
                        @bind-Value="@CurrentValue"
                        class="@CssClass"
                        StorageType="@this._storageType"
                                   NumberOfExtensions="@this._numberOfExtensions"
                        SelectedItem="@this._selectedItem"
                        SelectedItemChanged="this.OnSelectedItemChanged"/>
                </div>
                @for (byte i = 0; i < this._numberOfExtensions; i++)
                {
                    <div class="extension-header">Extension @(i+1)</div>
                    <MuItemStorage
                        @bind-Value="@CurrentValue"
                        StorageType="@(this._storageType == StorageType.Inventory ? StorageType.InventoryExtension : StorageType.VaultExtension)"
                        NumberOfExtensions="@this._numberOfExtensions"
                        ExtensionIndex="@i"
                        SelectedItem="@this._selectedItem"
                        SelectedItemChanged="this.OnSelectedItemChanged"/>
                }
                @if (this._storageType == StorageType.Inventory)
                {
                    <div class="extension-header">Personal Store</div>
                    <MuItemStorage
                        @bind-Value="@CurrentValue"
                        StorageType="StorageType.PersonalStore"
                        NumberOfExtensions="@this._numberOfExtensions"
                        SelectedItem="@this._selectedItem"
                        SelectedItemChanged="this.OnSelectedItemChanged"/>
                }
            </div>
            <div class="col-1 middle-column">
                <button type="button" class="btn-info mb-1" @onclick="@this.OnCreateItemClickAsync" title="Create"><span class="oi oi-plus"></span></button>
                @if (this._selectedItem is null)
                {
                    <button type="button" class="btn-warning mb-1 disabled" title="Delete"><span class="oi oi-trash"></span></button>
                }
                else
                {
                    <button type="button" class="btn-warning mb-1" @onclick="this.OnItemDeleteClickAsync" title="Delete"><span class="oi oi-trash"></span></button>
                }
            </div>
            <div class="col-7 right-column">
                @if (this._selectedItem is { })
                {
                    <div class="alert alert-secondary item-edit">
                        <h3>@(this._selectedItem.Definition?.Name ?? @"<Please select a definition>")</h3>
                        <ItemEdit Item="@this._selectedItem" ItemChanged="this.StateHasChanged"></ItemEdit>
                    </div>
                }
            </div>
        </div>
    </div>

    <ValidationMessage For=@this.ValueExpression/>
</div>
@if (this._storageType != StorageType.Merchant)
{
    <NumberField @bind-Value="@this.CurrentValue.Money" />
}

@code {

    /// <summary>
    /// Gets or sets the label which should be displayed. If it's not explicitly provided, the component shows the
    /// Name defined in the <see cref="DisplayAttribute"/>. If there is no Name in a <see cref="DisplayAttribute"/>, it shows the property name instead.
    /// </summary>
    [Parameter]
    public string Label { get; set; } = string.Empty;

    /// <summary>
    /// Gets or sets a value indicating if the label should be hidden.
    /// </summary>
    [Parameter]
    public bool HideLabel { get; set; }

    /// <summary>
    /// Gets or sets the persistence context.
    /// </summary>
    [CascadingParameter]
    public IContext PersistenceContext { get; set; } = null!;

    private Item? _selectedItem;

    private StorageType _storageType;

    private byte _numberOfExtensions;

    /// <inheritdoc />
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        var model = this.EditContext.Model;
        switch (model)
        {
            case Account account:
                this._storageType = StorageType.Vault;
                this._numberOfExtensions = (byte)(account.IsVaultExtended ? 1 : 0);
                break;
            case Character character:
                this._storageType = StorageType.Inventory;
                this._numberOfExtensions = Math.Min((byte)character.InventoryExtensions, InventoryConstants.MaximumNumberOfExtensions);
                break;
            case MonsterDefinition:
                this._storageType = StorageType.Merchant;
                this._numberOfExtensions = 0;
                break;
            default:
                throw new NotImplementedException($"Unknown owner ({model}) of storage.");
        }
    }

    /// <inheritdoc />
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out ItemStorage result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        throw new NotImplementedException();
        
        validationErrorMessage = null;
        return true;
    }

    /// <inheritdoc />
    protected override string FormatValueAsString(ItemStorage? value)
    {
        return value is null ? string.Empty : string.Join(';', value);
    }

    private void OnSelectedItemChanged(Item? item)
    {
        this._selectedItem = item;
        this.StateHasChanged();
    }

    private async Task OnItemDeleteClickAsync()
    {
        if (this._selectedItem is null)
        {
            return;
        }

        if (this.Value?.Items.Remove(this._selectedItem) is true)
        {
            await this.PersistenceContext.DeleteAsync(this._selectedItem);
        }

        this._selectedItem = null;
    }

    private void OnCreateItemClickAsync()
    {
        if (this.Value is { } itemStorage)
        {
            var item = this.PersistenceContext.CreateNew<Item>();
            itemStorage.Items.Add(item);
            this._selectedItem = item;
        }
    }
}
