@typeparam TItem

@using MUnique.OpenMU.Persistence
@using System.Text.RegularExpressions
@inherits InputBase<ICollection<TItem>>

@inject IModalService _modal
@inject NavigationManager _navigationManager

    <div class="card">
        <h5 class="card-header">
            <FieldLabel Text="@Label" ValueExpression="@this.ValueExpression" />
            @if (this._isStartingCollapsed)
        {
            @if (this._isCollapsed)
            {
                <button type="button" class="btn-outline-info ml-3" @onclick="@this.OnToggleCollapseClick">Expand (@(this.Value?.Count) Items)</button>
            }
            else
            {
                <button type="button" class="btn-outline-info ml-3" @onclick="@this.OnToggleCollapseClick">Collapse</button>
            }
        }
        </h5>
        @if (!this._isCollapsed)
        {
            <div class="card-body card-text">
                <table>
                    <tbody>
                    @foreach (var item in (this.Value ?? Enumerable.Empty<TItem>())
                        .Select(i => (Name : i.GetName(), Id : i.GetId(), Item : i))
                        .OrderBy(i => i.Name))
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @if (this._isEditable)
                                {
                                    string urlPrefix;
                                    if (typeof(TItem).IsConfigurationType())
                                    {
                                        urlPrefix = "edit-config";
                                    }
                                    else if (Regex.Match(this._navigationManager.Uri, @"\/edit-(.*)\/(.+)?\/M") is { Success: true } match)
                                    {
                                        urlPrefix = $"edit-{match.Groups[1]}/{match.Groups[2]}";
                                    }
                                    else if (Regex.Match(this._navigationManager.Uri, @"\/edit-(.*)?\/M") is { Success: true } matchConfig)
                                    {
                                        urlPrefix = $"edit-{matchConfig.Groups[1]}";
                                    }
                                    else
                                    {
                                        urlPrefix = "edit-account";                                        
                                    }

                                    <button type="button" class="btn-info" @onclick="@(() => this._navigationManager.NavigateTo($"{urlPrefix}/{typeof(TItem).FullName}/{item.Id}"))">Edit</button>
                                }
                            </td>
                            <td>
                                @if (this._isEditable)
                                {
                                    <button type="button" class="btn-danger" @onclick="@(() => OnRemoveClickAsync(item.Item))">Remove</button>
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfooter>
                        <tr>
                            <td colspan="3">
                                @if (this._isAddingSupported)
                                {
                                    <button type="button" class="btn-primary" @onclick="@OnAddClickAsync">Add</button>
                                }

                                @if (this._isCreatingSupported)
                                {
                                    <button type="button" class="btn-primary" @onclick="@OnCreateClickAsync">Create</button>
                                }
                            </td>
                        </tr>
                    </tfooter>
                </table>
            </div>
        }
        </div>
