@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@using MUnique.OpenMU.Web.AdminPanel.Services
@using MUnique.OpenMU.Persistence

@typeparam TObject
@inherits NotifyableInputBase<TObject>

<div>
    <FieldLabel Text="@Label" ValueExpression="@this.ValueExpression" />
    <BlazoredTypeahead TItem="TObject" TValue="TObject"
                       @bind-Value="@this.CurrentValue"
                       SearchMethod="@(text => this.EffectiveLookupController.GetSuggestionsAsync<TObject>(text, this.PersistenceContext))"
                       EnableDropDown="true"
                       MaximumSuggestions="20"
                       placeholder="Search ..."
                       id="@this.FieldIdentifier.FieldName">
        <SelectedTemplate Context="item">
            @if (item is null)
            {
                @string.Empty;
            }
            else if (typeof(TObject).IsConfigurationType() && item is IIdentifiable identifiable)
            {
                <NavLink href="@("edit-config/" + typeof(TObject).FullName + "/" + identifiable.Id)">@CaptionFactory(item)</NavLink>
            }
            else
            {
                @CaptionFactory(item)
            }
        </SelectedTemplate>
        <ResultTemplate Context="item">
            @CaptionFactory(item)
        </ResultTemplate>
    </BlazoredTypeahead>
    <ValidationMessage For=@this.ValueExpression />
</div>
