@typeparam TNumber
@using System.Diagnostics.CodeAnalysis
@inherits NotifyableInputBase<TNumber>

<div>
    <FieldLabel Text="@Label" ValueExpression="@this.ValueExpression" />
    <InputNumber id="@this.FieldIdentifier.FieldName" @bind-Value="@CurrentValue" min="@Min" max="@Max"/>
    <ValidationMessage For=@this.ValueExpression />
</div>

@code {

    /// <summary>
    /// Gets or sets the label.
    /// </summary>
    [Parameter]
    public string? Label { get; set; }

    /// <summary>
    /// Gets or sets the minimum value.
    /// </summary>
    [Parameter]
    public TNumber? Min { get; set; }

    /// <summary>
    /// Gets or sets the maximum value.
    /// </summary>
    [Parameter]
    public TNumber? Max { get; set; }

    /// <inheritdoc />
    protected override bool TryParseValueFromString(string? value, [MaybeNullWhen(false)] out TNumber result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        throw new NotImplementedException();
    }
}