@page "/accounts"
@using MUnique.OpenMU.DataModel
@using MUnique.OpenMU.DataModel.Entities;
@using MUnique.OpenMU.Persistence;
@using Resources = MUnique.OpenMU.Web.AdminPanel.Properties.Resources

@inject AccountService _accountService;

@{
  var title = typeof(Account).GetPluralizedTypeCaption();
}
<PageTitle>OpenMU: @title</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="@title" />
<h1>@title</h1>

<div>
    <DataTable TItem=@Account>
        <TableHeader>
            <th class="col-1">@typeof(Account).GetPropertyCaption(nameof(Account.LoginName))</th>
            <th class="col-1">@typeof(Account).GetPropertyCaption(nameof(Account.State))</th>
            <th class="col-2">@typeof(Account).GetPropertyCaption(nameof(Account.EMail))</th>
            <th class="col-2">@Resources.Action</th>
        </TableHeader>
        <FilterHeader>
            <th colspan="3">
                <div class="input-group">
                    <span class="input-group-text"><span class="oi oi-magnifying-glass" aria-hidden="true"></span></span>
                    <input type="search" class="form-control" placeholder="Search by Account or Character Name..." @bind="@this._accountService.SearchFilter"/>
                </div>
            </th>
            <th></th>
        </FilterHeader>
        <ItemTemplate Context="item">
            <td>@item.LoginName</td>
            <td>@item.State.GetEnumCaption()</td>
            <td>@item.EMail</td>
            <td>
                <NavLink href="@($"edit-account/{item.GetId()}/{typeof(Account).FullName}/{item.GetId()}")" class="btn btn-primary"><span class="oi oi-pencil" aria-hidden="true"></span> Edit</NavLink>
            </td>
        </ItemTemplate>
        <TableFooter>
            <td><button type="button" class="btn btn-primary" @onclick="@this._accountService.CreateNewInModalDialogAsync">@Resources.Create</button></td>
            <td></td>
            <td></td>
            <td></td>
        </TableFooter>
    </DataTable>
</div>
