@page "/accounts"
@using MUnique.OpenMU.DataModel
@using MUnique.OpenMU.DataModel.Entities;
@using MUnique.OpenMU.DataModel.Properties
@using MUnique.OpenMU.Persistence;
@using MUnique.OpenMU.Web.AdminPanel.Properties;
@using MUnique.OpenMU.Web.AdminPanel.Services
@using Resources = MUnique.OpenMU.Web.AdminPanel.Properties.Resources

@inject AccountService _accountService;

@{
  var title = typeof(Account).GetPluralizedTypeCaption();
}
<PageTitle>OpenMU: @title</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="@title" />
<h1>@title</h1>

<div>
    <DataTable TItem=@Account>
        <TableHeader>
            <th class="col-1">@typeof(Account).GetPropertyCaption(nameof(Account.LoginName))</th>
            <th class="col-1">@typeof(Account).GetPropertyCaption(nameof(Account.State))</th>
            <th class="col-2">@typeof(Account).GetPropertyCaption(nameof(Account.EMail))</th>
            <th class="col-2">@Resources.Action</th>
        </TableHeader>
        <ItemTemplate Context="item">
            <td>@item.LoginName</td>
            <td>@item.State.GetEnumCaption()</td>
            <td>@item.EMail</td>
            <td>
                <NavLink href="@($"edit-account/{item.GetId()}/{typeof(Account).FullName}/{item.GetId()}")">Edit</NavLink>
            </td>
        </ItemTemplate>
        <TableFooter>
            <td><button type="button" class="btn btn-sm btn-success" @onclick="@this._accountService.CreateNewInModalDialogAsync">Create</button></td>
            <td></td>
            <td></td>
            <td></td>
        </TableFooter>
    </DataTable>
</div>
