@page "/edit-config-grid/{typeString}"

@using MUnique.OpenMU.DataModel
@using MUnique.OpenMU.Web.AdminPanel.Properties
@using Microsoft.AspNetCore.Components.QuickGrid

@if (this.Type is not null)
{
    var typeCaption = this.Type.GetPluralizedTypeCaption();
    
    <h1>@typeCaption</h1>
    <PageTitle>@typeCaption</PageTitle>
    <Breadcrumb Caption=@typeCaption IsFirstFromRoot="true"></Breadcrumb>
}

@if (this.ViewModels is null)
{
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    <span class="sr-only">@Resources.Loading</span>
    return;
}

<div>
    <QuickGrid Items="@this.ViewModels" Pagination="@_pagination" Theme="none" >
        <PropertyColumn Property="@(c => c.Name)" Sortable="true">
            <HeaderTemplate>
                <button type="button" class="col-title" onclick="@(() => context.Grid.SortByColumnAsync(context))">
                    <div class="col-title-text">@context.Title</div>
                    <div class="sort-indicator" aria-hidden="true"></div>
                </button>
                <div class="col-search ml-5">
                    <input class="small" type="search" autofocus @bind="@NameFilter" @bind:event="oninput" placeholder="@Resources.Search ..."/>
                </div>
            </HeaderTemplate>
        </PropertyColumn>

        <TemplateColumn Align="Align.Center">
            @{
                var targetUrl = $"edit-config/{this.TypeString}/" + context.Id;
            }
            <a href="@(targetUrl)" class="btn btn-info">@Resources.Edit</a>
            <button type="button" class="btn-danger" @onclick="@(() => this.OnDeleteButtonClickAsync(context))"><span class="oi oi-trash"></span> @Resources.Delete</button>
        </TemplateColumn>
    </QuickGrid>
</div>
<Paginator State="@_pagination" />
<hr />
<button type="button" class="btn-outline-primary" @onclick="OnCreateButtonClickAsync"><span class="oi oi-plus"></span> @Resources.AddNew</button>