@page "/edit-config-grid/{typeString}"

@using MUnique.OpenMU.DataModel
@using MUnique.OpenMU.Web.AdminPanel.Properties
@using Microsoft.AspNetCore.Components.QuickGrid

@if (this.Type is not null)
{
    var typeCaption = this.Type.GetPluralizedTypeCaption();
    
    <h1>@typeCaption</h1>
    <PageTitle>@typeCaption</PageTitle>
    <Breadcrumb Caption=@typeCaption IsFirstFromRoot="true"></Breadcrumb>
}

@if (this.ViewModels is null)
{
    return;
}

<div>
    <QuickGrid Items="@this.ViewModels" Pagination="@_pagination" Theme="none" >
        <PropertyColumn Property="@(c => c.Name)" Sortable="true">
            <HeaderTemplate>
                <button type="button" class="col-title" onclick="@(() => context.Grid.SortByColumnAsync(context))">
                    <div class="col-title-text">@context.Title</div>
                    <div class="sort-indicator" aria-hidden="true"></div>
                </button>
                <div class="col-search ms-5">
                    <div class="input-group">
                        <span class="input-group-text"><span class="oi oi-magnifying-glass" aria-hidden="true"></span></span>
                        <input class="form-control small" type="search" autofocus @bind="@NameFilter" @bind:event="oninput" placeholder="@Resources.Search ..."/>
                    </div>
                </div>
            </HeaderTemplate>
        </PropertyColumn>

        <TemplateColumn Align="Align.Start">
            @{
                var targetUrl = $"edit-config/{this.TypeString}/" + context.Id;
            }
            <a href="@(targetUrl)" class="btn btn-primary me-1 mb-1"><span class="oi oi-pencil" aria-hidden="true"></span> @Resources.Edit</a>
            <button type="button" class="btn btn-secondary me-1 mb-1" @onclick="@(() => this.OnDuplicateButtonClickAsync(context))"><span class="oi oi-layers d-none d-sm-inline"></span> @Resources.Duplicate</button>
            <button type="button" class="btn btn-danger me-1 mb-1" @onclick="@(() => this.OnDeleteButtonClickAsync(context))"><span class="oi oi-trash d-none d-sm-inline"></span> @Resources.Delete</button>
        </TemplateColumn>
    </QuickGrid>
</div>
<Paginator State="@_pagination" />
<div class="add-new-bar">
    <hr />
    <button type="button" class="btn btn-primary" @onclick="OnCreateButtonClickAsync"><span class="oi oi-plus"></span> @Resources.AddNew</button>
</div>