@page "/merchants"

@using Microsoft.AspNetCore.Components.QuickGrid;
@using MUnique.OpenMU.Persistence

<h1>Merchants</h1>


@if (this.ViewModels is null)
{
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    <span class="sr-only">Loading...</span>
    return;
}

@if (this._selectedMerchant is null)
{
    <div>
        <QuickGrid Items="@this.ViewModels" Pagination="@_merchantPagination" Theme="none">
            <PropertyColumn Title="Name" Property="@(c => c.Name)" Sortable="true">
            </PropertyColumn>

            <TemplateColumn Align="Align.Center">
                <button type="button" class="btn-info" @onclick="@(() => this.OnMerchantEditClickAsync(context))">Edit</button>
            </TemplateColumn>
        </QuickGrid>
    </div>
    <Paginator State="@_merchantPagination"/>
}
else
{
    <div class="d-flex flex-row">
        <button type="button" class="btn-lg btn-outline-dark mr-3" @onclick="this.OnBackButtonClickAsync">&lt; Back</button>
        <h2>@this._selectedMerchant.Merchant.Designation</h2>
    </div>
    <hr/>
    <CascadingValue TValue="IContext" Value="this._persistenceContext">
        <EditForm Model="this._selectedMerchant.Merchant" OnValidSubmit="this.OnSaveButtonClickAsync">
            <ItemStorageField @bind-Value="this._selectedMerchant.Merchant.MerchantStore" HideLabel="true"/>
            <hr />
            <button type="submit" class="primary-button">Save changes</button>
            <button type="button" class="cancel-button" @onclick="this.OnCancelButtonClickAsync">Discard changes</button>
        </EditForm>
    </CascadingValue>
}
