@page "/merchants"

@using MUnique.OpenMU.Web.AdminPanel.Properties
@using Microsoft.AspNetCore.Components.QuickGrid;
@using MUnique.OpenMU.Interfaces
@using MUnique.OpenMU.Persistence

<PageTitle>OpenMU: @Resources.Merchants</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption=@Resources.Merchants/>

<h1>@Resources.Merchants</h1>


@if (this.ViewModels is null)
{
    return;
}

@if (this._selectedMerchant is null)
{
    <div>
        <QuickGrid Items="@this.ViewModels" Pagination="@_merchantPagination" Theme="none">
            <PropertyColumn Title="Name" Property="@(c => c.Name)" Sortable="true">
            </PropertyColumn>

            <TemplateColumn Align="Align.Start">
                <button type="button" class="btn btn-primary" @onclick="@(() => this.OnMerchantEditClickAsync(context))"><span class="oi oi-pencil" aria-hidden="true"></span> @Resources.Edit</button>
            </TemplateColumn>
        </QuickGrid>
    </div>
    <Paginator State="@_merchantPagination"/>
}
else
{
    <div class="d-flex flex-row">
        <button type="button" class="btn btn-secondary me-3" @onclick="this.OnBackButtonClickAsync">&lt; @Resources.Back</button>
        <h2>@((LocalizedString?)this._selectedMerchant.Merchant.Designation)</h2>
    </div>
    <hr/>
    <CascadingValue TValue="IContext" Value="this._persistenceContext">
        <EditForm Model="this._selectedMerchant.Merchant" OnValidSubmit="this.OnSaveButtonClickAsync">
            <ItemStorageField @bind-Value="this._selectedMerchant.Merchant.MerchantStore" HideLabel="true"/>
            <hr />
            <button type="submit" class="btn btn-primary me-1">@Resources.SaveChanges</button>
            <button type="button" class="btn btn-secondary" @onclick="this.OnCancelButtonClickAsync">@Resources.DiscardChanges</button>
        </EditForm>
    </CascadingValue>
}
