@page "/merchants"

@using Microsoft.AspNetCore.Components.QuickGrid;
@using Microsoft.AspNetCore.Components.Web
@using MUnique.OpenMU.Persistence
@using MUnique.OpenMU.Web.Shared.Components

<PageTitle>OpenMU: Comerciantes</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="Comerciantes"/>

<h1>Comerciantes</h1>


@if (this.ViewModels is null)
{
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    <span class="sr-only">Cargando...</span>
    return;
}

@if (this._selectedMerchant is null)
{
    <div>
        <QuickGrid Items="@this.ViewModels" Pagination="@_merchantPagination" Theme="none">
            <PropertyColumn Title="Nombre" Property="@(c => c.Name)" Sortable="true">
            </PropertyColumn>

            <TemplateColumn Align="Align.Center">
                <button type="button" class="btn-info" @onclick="@(() => this.OnMerchantEditClickAsync(context))">Editar</button>
            </TemplateColumn>
        </QuickGrid>
    </div>
    <Paginator State="@_merchantPagination"/>
}
else
{
    <div class="d-flex flex-row">
        <button type="button" class="btn-lg btn-outline-dark mr-3" @onclick="this.OnBackButtonClickAsync">&lt; Volver</button>
        <h2>@this._selectedMerchant.Merchant.Designation</h2>
    </div>
    <hr/>
    <CascadingValue TValue="IContext" Value="this._persistenceContext">
        <EditForm Model="this._selectedMerchant.Merchant" OnValidSubmit="this.OnSaveButtonClickAsync">
            <div class="d-flex flex-row align-items-center mb-3">
                <a class="btn btn-outline-secondary mr-2" href="@this.GetExportDownloadUri()" download="@this.GetExportFileName()">Exportar tienda</a>
                <label class="btn btn-outline-secondary mb-0">
                    Importar tienda
                    <BlazorInputFile.InputFile OnChange="this.OnImportFileAsync" style="display:none" />
                </label>
            </div>
            <ItemStorageField @bind-Value="this._selectedMerchant.Merchant.MerchantStore" HideLabel="true"/>
            <hr />
            <button type="submit" class="primary-button">Guardar cambios</button>
            <button type="button" class="cancel-button" @onclick="this.OnCancelButtonClickAsync">Descartar cambios</button>
        </EditForm>
    </CascadingValue>
}
