@page "/plugins"
@using MUnique.OpenMU.Web.AdminPanel.Properties
@using MUnique.OpenMU.Web.Shared.Models

<PageTitle>@Resources.Plugins</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="@Resources.Plugins"/>
<h1>@Resources.Plugins</h1>

<div>
    <DataTable TItem=@PlugInConfigurationViewItem>
        <TableHeader>
            <th class="col-1">@Resources.ExtensionPoint</th>
            <th class="col-1">@Resources.PluginName</th>
            <th class="col-1">@Resources.PluginType</th>
            <th class="col-1">@Resources.Action</th>
        </TableHeader>
        <FilterHeader>
            <th><PlugInExtensionPointSelection SelectedPointId="@this.PlugInController.PointFilter" ExtensionPoints="@this.PlugInController.ExtensionPoints" OnSelectionChanged="@this.OnPlugInPointSelected" /></th>
            <th><input type="search" placeholder="Search" @bind="@this.PlugInController.NameFilter" @bind:event="oninput"/></th>
            <th><input type="search" placeholder="Search" @bind="@this.PlugInController.TypeFilter" @bind:event="oninput"/></th>
            <th></th>
        </FilterHeader>
        <ItemTemplate Context="item">
            <td title=@item.PlugInPointDescription>@item.PlugInPointName</td>
            <td title=@item.PlugInDescription>
                <MarkedText Marked=@this.PlugInController.NameFilter Text=@item.PlugInName />
            </td>
            <td title=@item.TypeId>
                <MarkedText Marked=@this.PlugInController.TypeFilter Text=@item.TypeName />
            </td>
            <td>
                @if (item.IsActive)
                {
                    <Button class="btn-warning" @onclick="async () => await this.PlugInController.DeactivateAsync(item)">@Resources.Deactivate</Button>
                }
                else
                {
                    <Button class="btn-success" @onclick="async () => await this.PlugInController.ActivateAsync(item)">@Resources.Activate</Button>
                }

                @if (item.ConfigurationType is { })
                {
                    <Button class="btn-secondary" @onclick="() => this.PlugInController.ShowPlugInConfigAsync(item)"><span class="oi oi-cog" aria-hidden="true"></span></Button>
                }
            </td>
        </ItemTemplate>
        <TableFooter>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </TableFooter>
    </DataTable>
</div>