@page "/config-updates"

<PageTitle>OpenMU: Configuration Updates</PageTitle>
<Breadcrumb IsFirstFromRoot="true" Caption="Configuration Updates"/>
<h3>Configuration Updates</h3>

@if (!this.SetupService.IsInstalled || this.SetupService.IsUpdateRequired)
{
    <div class="alert alert-info" role="alert">Please, first install the database updates on the <NavLink href="setup">Setup page</NavLink>.</div>
    return;
}
@if (!this._availableUpdates.Any())
{
    <div class="alert alert-success" role="alert">No configuration data update available.</div>
    return;
}

<div class="alert alert-light">
    <p>New updates for the configuration data are available. You can select the ones which should be applied to your configuration.</p>
    <p>Mandatory updates are always applied and cannot be deselected.</p>
    <p>The updates require a restart of the server process to take effect.</p>
</div>

@foreach (var update in this._availableUpdates)
{
    <div class="alert @(update.State == UpdateState.Failed ? "alert-warning" : update.Selected ? "alert-primary" : "alert-secondary")" role="alert">
        @if (update.State == UpdateState.Started)
        {
            <div class="spinner-border text-secondary spinner-border-sm" role="status">
                <span class="sr-only">Updating...</span>
            </div>
        }
        else if (update.State == UpdateState.Failed)
        {
            <span class="oi oi-bolt"></span>
        }
        else if (update.State == UpdateState.Installed)
        {
            <span class="oi oi-check"></span>
        }
        else if (update.IsMandatory)
        {
            <InputCheckbox @bind-Value="@update.Selected" disabled="disabled"></InputCheckbox>
        }
        else
        {
            <InputCheckbox @bind-Value="@update.Selected"></InputCheckbox>
        }
        <span>&nbsp;@update.Name (#@update.Version)</span>
        <hr/>
        <div class="alert alert-secondary">
            <span>@update.Description</span>
        </div>
    </div>
}

@if (this._overallState == UpdateState.Started)
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Applying updates ...
    </button>
}
else if (this._overallState == UpdateState.Failed)
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="oi oi-bolt" role="status" aria-hidden="true"></span>
        Update Failed!
    </button>
}
else if (this._availableUpdates.Any(u => u.Selected))
{
    <button class="btn btn-primary" type="button" @onclick="this.OnUpdateClickAsync">Apply selected updates</button>
}
else
{
    <button class="btn btn-primary" type="button" disabled>Apply selected updates</button>
}

@if (this._exception is { } exception)
{
    <hr/>
    <div class="alert alert-danger">
        <h3 class="alert-heading">
            <span class="oi oi-bolt"></span><span>&nbsp;@exception.Message</span>
        </h3>
        <hr/>
        <span>@exception.StackTrace</span>
    </div>
}