@using MUnique.OpenMU.Web.AdminPanel.Services
@using MUnique.OpenMU.DataModel.Configuration

@if (this.Configuration is null)
{
    <span>Cargando ...</span>
}
else
{
<EditForm Model="@Configuration" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <TextField Id="descriptionInput" Label="Descripción" @bind-Value="@Configuration.Description"/>
    <NumberField Id="clientListenerPortInput" Label="Puerto de escucha del cliente" @bind-Value="@Configuration.ClientListenerPort"/>
    <LookupField TObject=GameClientDefinition Label="Game Client" @bind-Value="@Configuration.GameClientDefinition"/>
    <div>
        <label htmlFor="patchVersionInput">Versión del parche</label>
        <div id="patchVersionInput">
            <div>
                <span id="major-addon">Mayor</span>
            </div>
            <InputNumber id="patchVersionMajorInput" @bind-Value=@this.Configuration.CurrentVersionMajor aria-describedby="major-addon"/>
            <ValidationMessage For="@(() => this.Configuration.CurrentVersionMajor)"/>
        </div>
        <div>
            <div>
                <span id="minor-addon">Menor</span>
            </div>
            <InputNumber id="patchVersionMinorInput" @bind-Value=@this.Configuration.CurrentVersionMinor aria-describedby="minor-addon"/>
            <ValidationMessage For="@(() => this.Configuration.CurrentVersionMinor)"/>
        </div>
        <div>
            <div>
                <span id="patch-addon">Parche</span>
            </div>
            <InputNumber id="patchVersionPatchInput" @bind-Value=@this.Configuration.CurrentVersionPatch aria-describedby="patch-addon"/>
            <ValidationMessage For="@(() => this.Configuration.CurrentVersionPatch)"/>
        </div>
    </div>
    <div>
        <label htmlFor="patchAddressInput">Dirección del parche</label>
        <div id="patchAddressInput">
            <div>
                <span id="ftp-addon">ftp://</span>
            </div>
            <InputText @bind-Value=@this.Configuration.PatchAddress aria-describedby="ftp-addon"/>
        </div>
    </div>
    <BooleanField Id="disconnectOnUnknownPacketInput" Label="Desconectar al recibir paquete desconocido" @bind-Value="@Configuration.DisconnectOnUnknownPacket"/>
    <NumberField Id="maximumReceiveSizeInput" Label="Tamaño máximo de paquete" @bind-Value="@Configuration.MaximumReceiveSize"/>
    <div>
        <label htmlFor="maxConnectionsPerAddressInput">Conexiones máximas por dirección</label>
        <div id="maxConnectionsPerAddressInput">
            <div>
                <span id="connections-addon">
                    <InputCheckbox id="checkMaxConnectionsPerAddressInput" @bind-Value=@this.Configuration.CheckMaxConnectionsPerAddress/>
                </span>
            </div>
            <InputNumber min="1" @bind-Value=@this.Configuration.MaxConnectionsPerAddress aria-describedby="connections-addon"/>
            <ValidationMessage For="@(() => this.Configuration.MaxConnectionsPerAddress)"/>
        </div>
    </div>
    <NumberField Id="maxConnectionsInput" Label="Conexiones máximas" @bind-Value="@Configuration.MaxConnections"/>
    <NumberField Id="listenerBacklogInput" Label="Cola de escucha" @bind-Value="@Configuration.ListenerBacklog"/>
    <NumberField Id="maxFtpRequestsInput" Label="Solicitudes FTP máximas por sesión" @bind-Value="@Configuration.MaxFtpRequests"/>
    <NumberField Id="maxIpRequestsInput" Label="Solicitudes de dirección máximas por sesión" @bind-Value="@Configuration.MaxIpRequests"/>
    <NumberField Id="maxServerListRequestsInput" Label="Solicitudes de lista de servidores máximas por sesión" @bind-Value="@Configuration.MaxServerListRequests"/>
    <NumberField Id="timeoutSecondsInput" Label="Tiempo de espera de conexión (segundos)" @bind-Value="@Configuration.TimeoutSeconds"/>

    <ValidationSummary/>
    <div>
        <button type="submit" class="primary-button">Guardar</button>
        @if (this.OnCancel != null)
        {
            <button type="button" onClick=@this.OnCancel>Cancelar</button>
        }
    </div>

</EditForm>
}