<div>
@if (this.SelectedVersion is null)
{
    <span>Cargando...</span>
}
else if (this.IsInstalling)
{
    <span>Instalando, por favor espere...</span>
}
else if (this.IsInstalled)
{
    <p>¡Listo! ¡Diviértete! :)</p>
    if (!AdminPanelEnvironment.IsHostingEmbedded)
    {
        <p>Por favor reinicia los contenedores de connect y game server.</p>
    }

    <button class="btn btn-primary" @onclick="async () => await this.InstallationFinished.InvokeAsync()">OK</button>
}
else
{
    @if (!string.IsNullOrWhiteSpace(this.InstallError))
    {
        <div class="alert alert-danger" role="alert">
            Error al instalar: @this.InstallError
        </div>
    }

    if (this.CurrentConnections > 0)
    {
        <div class="alert alert-danger" role="alert">
            Primero, cierra todas las conexiones al servidor.
        </div>
    }

    <p>
        <h2>Selecciona la versión del juego</h2>

        <div>
        @foreach (var initializer in this.SetupService.Versions)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="version" id="@initializer.Key" @onclick="() => this.OnSelectVersion(initializer.Key)">
                <label class="form-check-label" for="@initializer.Key">@initializer.Caption</label>
            </div>
        }
        </div>
    </p>
    <p>
        <h2>¿Cuántos servidores de juego quieres?</h2>
        <div>
            <label for="gameServerCount" class="form-label">Cantidad de servidores de juego (@this.GameServerCount)</label>
            <input type="range" class="form-range" min="1" max="10" value="@this.GameServerCount" id="gameServerCount" @oninput="this.OnGameServerCountChange">
        </div>
    </p>
    <p>
        <h2>¿Quieres cuentas de prueba?</h2>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="testAccountsCheck" @oninput="this.OnTestAccountsChange">
            <label class="form-check-label" for="testAccountsCheck">
                Sí, crear cuentas de prueba
            </label>
        </div>
    </p>

    <p>
        @if (this.CurrentConnections == 0)
        {
            <button class="btn btn-primary" @onclick="this.StartInstallationAsync">Iniciar instalación</button>
        }
        else
        {
            <button class="btn btn-primary disabled">Iniciar instalación</button>
        }
    </p>
}

</div>
