@using System.ComponentModel
@using MUnique.OpenMU.DataModel.Configuration
@using MUnique.OpenMU.Interfaces
@implements IDisposable

<tr class=@(this.Server.ServerState == ServerState.Started ? "success" : "warning") >
    <td>
        @if (this.Server.Type == ServerType.GameServer)
        {
            // Link to a reverse proxied server page
            // Take a look at the nginx.conf
            // For an all-in-one-deployment, this link leads to the MapPage.
            <a href="/gameServer/@(this.Server.Id)/" target="_blank"><span class="oi oi-map"></span></a>
        }
    </td>
    <td>
        @switch (this.Server.Type)
        {
            case ServerType.GameServer:
                <NavLink href="@("edit-config/" + typeof(GameServerDefinition).FullName + "/" + this.Server.ConfigurationId)">@this.Server.Description</NavLink>
                break;
            case ServerType.ConnectServer:
                <NavLink href="@("edit-connectionServer/" + this.Server.ConfigurationId)">@this.Server.Description</NavLink>
                break;
            case ServerType.ChatServer:
                <NavLink href="@("edit-config/" + typeof(ChatServerDefinition).FullName + "/" + this.Server.ConfigurationId)">@this.Server.Description</NavLink>
                break;
            default:
                @this.Server.Description
                break;
        }
    </td>
    <td>
        <div>@this.Server.CurrentConnections / @(this.Server.MaximumConnections < int.MaxValue ? this.Server.MaximumConnections.ToString() : "∞")</div>
    </td>
    <td>@this.GetStateCaption()</td>
    <td>
        @if (this.IsActionAvailable())
        {
            <button type="button" @onclick="@OnActionClick" class=@this.GetActionClass()>@this.GetActionCaption()</button>
        }
        else
        {
            <button type="button" class=@this.GetActionClass() disabled>@this.GetActionCaption()</button>
        }
        
    </td>
</tr>

@code {

    private bool _isExpanded;

    /// <summary>
    /// Gets or sets the server which is shown in this component.
    /// </summary>
    [Parameter]
    public IManageableServer Server { get; set; } = null!;

    /// <inheritdoc />
    public void Dispose()
    {
        this.Server.PropertyChanged -= this.OnServerPropertyChanged;
    }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Server.PropertyChanged += this.OnServerPropertyChanged;
    }

    [System.Diagnostics.CodeAnalysis.SuppressMessage("Usage", "VSTHRD100:Avoid async void methods", Justification = "Catching all Exceptions.")]
    private async void OnServerPropertyChanged(object? sender, PropertyChangedEventArgs eventArgs)
    {
        try
        {
            await this.InvokeAsync(this.StateHasChanged).ConfigureAwait(false);
        }
        catch
        {
            // must be catched because it's an async void method.
        }

    }

    private string GetExpandIconClass()
    {
        if (this._isExpanded)
        {
            return "oi oi-minus";
        }

        if (this.Server.Type == ServerType.GameServer)
        {
            return "oi oi-plus";
        }

        return "oi oi-cog";
    }

    private string GetActionClass()
    {
        if (this.Server.ServerState == ServerState.Started)
            return "btn-success";
        else
            return "btn-warning";
    }

    private async Task OnExpandClick(MouseEventArgs eventArgs)
    {
        this._isExpanded = !this._isExpanded;
        await this.InvokeAsync(this.StateHasChanged);
    }

    private Task OnActionClick(MouseEventArgs eventArgs)
    {
        if (this.Server.ServerState == ServerState.Started)
        {
            return this.Server.StopAsync(default);
        }
        else
        {
            return this.Server.StartAsync(default);
        }
    }

    private bool IsActionAvailable()
    {
        return (this.Server.ServerState == ServerState.Started || this.Server.ServerState == ServerState.Stopped);
    }

    private string GetActionCaption()
    {
        if (this.Server.ServerState == ServerState.Started)
            return "Shutdown";
        else
            return "Start";
    }

    private string GetStateCaption()
    {
        switch (this.Server.ServerState)
        {
            case ServerState.Stopped:
                return "Stopped";
            case ServerState.Starting:
                return "Starting ...";
            case ServerState.Started:
                return "Started";
            case ServerState.Stopping:
                return "Stopping ...";
            case ServerState.Timeout:
                return "Timeout";
        }

        return string.Empty;
    }
}
