@using System.ComponentModel.DataAnnotations
@using System.Diagnostics.CodeAnalysis
@using MUnique.OpenMU.Web.Shared.Services
@using MUnique.OpenMU.Persistence
@using Microsoft.Extensions.Localization

@typeparam TObject
@inherits NotifyableInputBase<IList<TObject>>

@inject IStringLocalizer<Resources> localizer

<div class="multi-lookup-field">
    <FieldLabel Text="@Label" ValueExpression="@this.ValueExpression" />

    <div class="multi-lookup-field__container">
        <div class="multi-lookup-field__selected-items" @onclick="FocusSearchInputAsync">
            @if (this.Value is not null)
            {
                @foreach (var item in this.Value)
                {
                    <span class="multi-lookup-field__tag">
                        @CaptionFactory(item)
                        <button type="button" class="multi-lookup-field__tag-remove" @onclick="() => RemoveItem(item)" @onclick:stopPropagation="true">&times;</button>
                    </span>
                }
            }
            <input @ref="_searchInput"
                   type="text"
                   class="multi-lookup-field__search-input"
                   placeholder="@(localizer["Search"] + " ...")"
                   value="@_searchText"
                   @oninput="OnSearchInputAsync"
                   @onfocus="OnFocus"
                   @onblur="OnBlurAsync"
                   @onkeydown="OnKeyDown" />
        </div>

        @if (_isOpen && _hasSearched && _filteredItems is not null)
        {
            <div class="multi-lookup-field__dropdown" @onmousedown="() => _mouseDownOnDropdown = true">
                @if (_isLoading)
                {
                    <div class="multi-lookup-field__dropdown-item multi-lookup-field__dropdown-item--loading">
                        @localizer["Loading"]
                    </div>
                }
                else if (!_filteredItems.Any())
                {
                    <div class="multi-lookup-field__dropdown-item multi-lookup-field__dropdown-item--empty">
                        @localizer["NoResultsFound"]
                    </div>
                }
                else
                {
                    @foreach (var item in _filteredItems)
                    {
                        var isSelected = this.Value?.Contains(item) == true;
                        <div class="multi-lookup-field__dropdown-item @(isSelected ? "multi-lookup-field__dropdown-item--selected" : "")"
                             @onmousedown="() => ToggleItem(item)"
                             @onmousedown:preventDefault="true">
                            <input type="checkbox" checked="@isSelected" tabindex="-1" />
                            <span>@CaptionFactory(item)</span>
                        </div>
                    }
                }
            </div>
        }
    </div>
    <ValidationMessage For=@this.ValueExpression />
</div>