@using MUnique.OpenMU.Web.AdminPanel.Localization

@inherits LocalizedComponentBase

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MUnique.OpenMU.Web.AdminPanel.Shared.MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MUnique.OpenMU.Web.AdminPanel.Shared.MainLayout)">
                <p>@this.Localization["App_NotFound"]</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>
