@using System.Reflection
@using MUnique.OpenMU.Web.AdminPanel.Shared

<!--
<Router AppAssembly="@typeof(MUnique.OpenMU.Web.AdminPanel.AdminPanelEnvironment).Assembly" AdditionalAssemblies="@_additionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
-->
@code
{
    /// <summary>
    /// Holds all additional assemblies.
    /// Currently, we use only the map app assembly.
    /// </summary>
    private readonly Assembly[] _additionalAssemblies =
    {
        // typeof(MapPage).Assembly,
    };
}
